{% extends 'main/base.html' %}

{% block title%} Nouvel objet {% endblock %}

{% block content %}

<h1>   Groupe :  {{groupe.name}} <br>
</h1>
<br>
    {% for ami in groupe.ami_set.all %}

        <p>

            {{ami.name}}
        </p>

    {% endfor %}

<br>
<h1>Ajouter une ou un ami(e) au groupe
</h1>
<br>


<form method="post" action="/createScan/">
    {% csrf_token %}
    {{form.as_table}}
    <button type="submit", name="groupe_id" value="{{groupe.id}}">Entrer Ami</button>
</form>



{% endblock %}