{% extends 'main/base.html' %}
{% load static %}
{% block title%} ami {% endblock %}

{% block content %}
<h1>{{ami.name}}</h1>
<h3> École :
    {{ecole.name}} <br>
</h3>
<h3>   Groupe :  {{groupe.name}} <br>
</h3>
<p>   {{ami.created_at}} </p>


<img src="{% static '' %}{{gif_path}}" width="200" height="200">



<br><br><br><br><br>
<p>***Cette action est irréversible***</p>
<form method="post" action="/confirm/">
    {% csrf_token %}
    <button type="submit", name="ami_id" value="{{ami.id}}", name="groupe" value="{{groupe}}">Suprimmer l'ami</button>
</form>

<br>

{% endblock %}