{% extends 'main/base.html' %}
{% load static %}

{% block title%} Démarrer{% endblock %}

{% block content %}

<h1> Scan de {{ami.name}} </h1>

<img src="{% static '' %}{{gif_path}}" width="500" height="500">
<br>
<!--<p>Êtes-vous satisfait du scan ?<br>Si oui, vous pouvez le sauvegarder</p>-->
<br>

    {% if ami.is_save == False %}
    <!--if ami.is_save == False-->
    <form method="post" action="/save/">
        {% csrf_token %}
        <button type="submit", name="ami_id" value="{{ami.id}}">Sauvegarder l'objet de l'ami</button>
    </form>


    {% else %}
    <!--if ami.is_save == True-->
    <p> L'object de {{ami.name}} est déjà sauvegardé</p>
    {% endif %}

<form method="post" action="/restart/">
    {% csrf_token %}
    <button type="submit", name="ami_id" value="{{ami.id}}">Recommencer ce scan</button>
</form>

<br>
<form method="post" action="/otherscan/">
    {% csrf_token %}
    <button type="submit", name="ami" value="{{ami.id}}">Téléporter l'objet d'un autre ami</button>
</form>
{% endblock %}