{% extends 'main/base.html' %}
{% load static %}

{% block title%} Nouvel objet {% endblock %}

{% block content %}

<h1>   Voulez-vous repasser cette objet dans le téléporteur ?<br>
</h1>
<p>si oui, replacer l'objet dans une orientation différente de celle du premier scan</p>
<br>

<form method="post" action="/continuscan/">
    {% csrf_token %}
    <button type="submit", name="ami" value="{{ami.id}}">OUI</button>
</form>


<form method="post" action="/skipscan/">
    {% csrf_token %}
    <button type="submit", name="ami" value="{{ami.id}}">NON</button>
</form>


    <img src="{% static 'main/img/example2.jpg' %}" width="200" height="150">


{% endblock %}