{% extends 'main/base.html' %}
{% load static %}

{% block title%} {{groupe.name} dans Collage3D }{% endblock %}

{% block content %}

<h1>   <br>
</h1>
<br>
<form method="post" action="/standalone/">
    {% csrf_token %}
    <button type="submit", name="groupe" value="{{groupe.id}}"> Partir l'activité </button>
</form>
<br>
<form method="post" action="/saveScreenshot/">
    {% csrf_token %}
    <button type="submit", name="groupe" value="{{groupe.id}}"> Sauvegarder les captures d'écrans </button>
</form>
<br>
<form method="post" action="/closeUE4/">
    {% csrf_token %}
    <button type="submit", name="groupe" value="{{groupe.id}}"> Fermer Collage3D </button>
</form>





<img src="{% static 'main/img/XboxController.png' %}" width="300" height="150">
<p>8(Start): Main menu </p>
<p>A: Selectionner</p>
<p>B: Retour</p>
<p>X: Photo de groupe</p>
<p>Y: Prendre photo(screenShot)</p>
<p>6: Rotation gauche</p>
<p>9: Rotation droite</p>
<p>5: Zoom in (dans la tente)</p>
<p>10t: Zoom out (dans la tente)</p>
<p>2(UP): Scale up</p>
<p>2(DOWN): Scale down</p>






{% endblock %}